article
	background: white
	color: black
	border: solid 1px
	margin-bottom: 10px
	padding: 2%
	
	h1
		font-size: 100%
		color: black
	h2
		font-size: 150%
		color: black
		background: linear-gradient(transparent 60%, $color-pacman-aqua 0%)
		padding-left: 0em;
	h3
		font-size: 130%
		color: black
		background: linear-gradient(transparent 60%, $color-pacman-violet 0%)
		padding-left: 0.5em;
	p
		text-indent: 1em
	figure
		background: $color-oatmeal
	code
		background: $color-oatmeal
	.article-tag
		a
			background: linear-gradient(transparent 60%, $color-pacman-yellow 0%)
			color: $color-black;
			text-decoration: none
			font-weight: normal
			word-break: none
