$color-background = #003d4c
$color-text = #c9cacc
$font-size = 12pt
$font-family-body = "游ゴシック体", "Yu Gothic", "YuGothic", "ヒラギノ角ゴ ProN", "ヒラギノ角ゴシック ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", "MigMix 1P", "TakaoExゴシック", "TakaoExGothic", "Takao Pゴシック", "TakaoPGothic", "sans-serif"
$font-family-mono = "Menlo", "Meslo LG", monospace
$font-family-tt = "Inconsolata", monospace

$color-oatmeal = #ead48a
$color-cooked-crab = #e17f16
$color-teal = #074a6b
$color-black = #000000
$color-juicy = #951c0c

$color-pacman-violet = #f8b1d1
$color-pacman-red = #ed1b24
$color-pacman-aqua = #73ccf6
$color-pacman-blue = #1b1c38
$color-pacman-yellow = #fee202

$color-cream = #f6e3a6

highlight = hexo-config("customize.highlight") || "tomorrow-night"
