$color-background = #003d4c
$color-text = #c9cacc
$font-size = 14px
$font-family-body = "Menlo", "Meslo LG", monospace
$font-family-mono = "Menlo", "Meslo LG", monospace
$font-family-tt = "Inconsolata", monospace
