@import "_variables"

body
	color: $color-text
	background-color: $color-teal
	font-size: $font-size
	font-family: $font-family-body
	font-weight: 400
	line-height: 200%
	margin: 20px

td.gutter
	text-align: right
	padding-right: 20px
	display: none

section.body
	background: white
	color: black
	border: solid 1px
	padding: 2%

.header
	background: #182733
	color: white
	font-size: 300%
	font-family: serif
	padding: 2%
	margin-bottom: 20px

.header a
	color: white
	text-decoration: none
	font-weight: normal


@import "_partial/article"
@import "_highlight/" + highlight
