@import "_variables"

body
	color: $color-text
	background-color: $color-teal
	font-size: $font-size
	font-family: $font-family-body
	font-weight: 400
	line-height: 200%

td.gutter
	text-align: right
	padding-right: 20px
	display: none


@import "_partial/article"