<section class="body">
	<ul>
		<li>
			<a href="<%- url_for("archives") %>">all direct desc</a>
		</li>
		<li>
			<a href="<%- url_for("indirect_archives") %>">all indirect desc</a>
		</li>
	</ul>
</section>
